*{
	margin: 0;
	padding: 0;
}


body{
	background-color: #c3dcf7;
}

/* Navigation Bar*/

ul {
    list-style-type: none;
    margin: 0;	
    padding: 0;				
    overflow: hidden;
    position: center;
    background-color:rgba(0,0,0,0.6);
    width: 100%;
}

li{
 float: left;
}

li a {
    display: block;
    color: white;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 2px gray;
}

li a:hover {
    background-color: #3f3f39;
}


/*--------------------------------*/




.name{

}

.email{

}

.message{
    height: 300px;
}

.submit{
    background-color: #007aff;
    color: white;
}

.wrapper{
    content: center;
    float: left;
    margin: 0px 0px 0px 40px;
    padding: 20px;
    background: white;
    width: 600px
}

.wrapper2{
    content: center;
    float: left;
    margin: 0px 0px 0px 40px;
    padding: 20px;
    background: white;
}

h1{
   padding: 5px;
   color: #007aff;
}


h2{
    text-align: center;
    padding: 10px;
    color: #007aff;
}

p {
    padding: 5px;
}

input{
    width: 100%;
}

img{
    padding: 10px;
}

.submit{
    width: 200px;
    height: 50px;
}

#linkedin{
    padding-left: 7px;
}

.container{
    margin-top: 50px;
}













