*{
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	transition: 1s;
}

/*Format Navigation Bar*/

ul {
	list-style-type: none; 	/*removes bullets*/
	margin: 0;				/*removes browser default settings*/
	padding: 0;				/*removes browser default settings*/
	overflow: hidden;
	position: center;
	background-color:rgba(0,0,0,0.5);
	width: 100%;
	transition: 1s;
}

li{
	float: left;
}

li a {
	display: block;
	color: white;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 2px gray;
}

li a:hover {
	background-color: #3f3f39;
}

nav{
	position: fixed;
	top: 0;
	width: 100%;
}


/* Format Backgrounds*/

.backgroundOne{
	width: 100%;
	height: 100vh;
	background: url(assets/images/iOzaPqt.gif); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.backgroundTwo{
	width: 100%;
	height: 650px;
	background: url(assets/images/horizonearth.jpg);
	background-color: white;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.backgroundThree{
	width: 100%;
	height: auto;
	background: url(assets/images/stars.gif);
	background-color: white;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	max-width: 100%;
}


.container{
	display: flex;
}

.wrapper{
	align-content: center;
	background-color:rgba(0,0,0,0.6);
	color: white;
	padding: 10px;
	position: relative;
}

audio{
	padding: auto;
	align-content: center;
}

th{
	font-size: 300%;
	align-content: center;
}
tr{
	padding: 40px;
	align-content: center;
}
td{
	align-content: center;
	font-size: 1o0%;
	padding: 20px;
	height: 40px
}
img {
	border-radius: 25px;
	border: 4px solid #6d7177;
	margin: 30px; 
	width: 400px;
	height: 300px; 
	transition: 1s;
}

img:hover {
	border-color: white;

}

video:hover {
	border-color: white;
}


video {
	border-radius: 25px;
	border: 4px solid #6d7177;
	margin: 30px; 
	max-height: 300px; 
	max-width: 400px;
	width: auto;
	height: auto; 
	transition: 1s;
}

.gallery{
	padding-top: 50px;
}

.footer{
	position: fixed;
	margin: 0;
	padding: 0;
	bottom: 0;
	width: 100%;
}



@media screen and (max-width: 980px) {
	img {
		margin: 20px;
		transition: 1s;
	}
	video {
		margin: 20px;
		transition: 1s;
	}
}

@media screen and (max-width: 768px) {
	video {
		margin: 10px;
		transition: 1s;
	}

	img {
		margin: 10px;
		transition: 1s;
	}
}

@media screen and (max-width: 640px) {
	video {
		margin: 0px;
		transition: 1s;
	}
	img {
		margin: 0px;
		transition: 1s;
	}
}