*{
	margin: 0;
	padding: 0;
/*	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;*/
}

body {
	margin: 0;
	padding: 0;
}

/*Format Navigation Bar*/

ul {
	list-style-type: none;

	margin: 0;			
	padding: 0;				
	overflow: hidden;
	position: center;
	/*background-color:rgba(0,0,0,0.5);*/
	width: 100%;
	transition: 1s;

	background: black; 
	background: -webkit-linear-gradient(left top, rgba(0,0,0,0.8), rgba(0,0,0,0)); 
	background: -o-linear-gradient(bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0)); 
	background: -moz-linear-gradient(bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0));
	background: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0)); 
}
li{
	float: left;
}
li a {
	display: block;
	color: white;
	font-size: 120%;
	/*font-weight: bold;*/
	text-align: center;
	padding: 16px 20px;
	text-decoration: none;
	text-shadow: 1px 1px 2px gray;
	font-family: 'Questrial', sans-serif;
}

li a:hover {
	color: white;
	background-color:rgba(0,0,0, 0.5);
	transition: 0.75s;
	text-shadow: 1px 1px 2px gray;
}


nav{
	position: fixed;
	top: 0;
	width: 100%;

}

/* Format Backgrounds*/

.backgroundOne{
	width: 100%;
	height: 80vh;
	background: url(../images/nycbackground.jpg); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	margin: 0;
	padding: 0;
	max-width: 100%;
	/*overflow: hidden;*/
}

.backgroundTwo{
	width: 100%;
/*	height: 120vh;
	background: url(../images/horizonearth.jpg); 
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.backgroundThree{
	width: 100%;
/*	height: 80vh;
	background: url(../images/stars.gif);
	background-color: white;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
	margin: 0;
	padding: 0;
	max-width: 100%;
}

/*======================Format Contents===================================*/

a{
	text-decoration: none;
}
h2{
	background-color: white;
	text-decoration: none;
	font-size: 200%;
	padding: 30px;
	text-align: center;
	font-family: 'Questrial', sans-serif;
}



.container{
	background-color: white;
	padding: 0;
	margin: 0;
	column-width: 35%;
	padding: 20px 5%;
	color: black;
	column-count: 2;
	column-gap: 50px;
}


#headingh1{
	float: right;
	text-align: center;
	font-family: 'Questrial', sans-serif;
	padding: 20px;
	margin: 150px 20% auto auto;
	font-size: 400%;
	border-radius: 10px;
	color: white;
	width: 40%;
	background: black; 
	background: -webkit-linear-gradient(left top, rgba(0,0,0,0.6), rgba(0,0,0,0.95)); 
	background: -o-linear-gradient(bottom right, rgba(0,0,0,0.6), rgba(0,0,0,0.95)); 
	background: -moz-linear-gradient(bottom right, rgba(0,0,0,0.6), rgba(0,0,0,0.95));
	background: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,.90));
}
#headingh2{
	float: right;
	text-align: center;
	font-family: 'Questrial', sans-serif;
	margin: 20px 20% auto auto;
	border-radius: 10px;
	padding: 20px;
	font-size: 225%;
	color: white;
	width: 40%;
	background: black; 
	background: -webkit-linear-gradient(left top, rgba(0,0,0,0.6), rgba(0,0,0,0.95)); 
	background: -o-linear-gradient(bottom right, rgba(0,0,0,0.6), rgba(0,0,0,0.95)); 
	background: -moz-linear-gradient(bottom right, rgba(0,0,0,0.6), rgba(0,0,0,0.95));
	background: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.90));
}



p {
	margin-top: 20px;
	text-indent: 50px;
	text-align: justify;
}

/*============================Format Images==========================================*/

.draw {
	align-content: center;
	border-radius: 25px;
	/*border: 4px solid #6d7177;*/
	margin: 20px 10% 0px 10%; 
	width: 400px;
	height: 300px; 
	transition: 1s;

}


img:hover {

	border-color: black;
	-moz-box-shadow:    3px 3px 5px 6px black;
	-webkit-box-shadow: 3px 3px 5px 6px black;
	box-shadow:         10px 10px 50px 0px black;
/*	position:relative;
    bottom:2px;
    right:2px;  */   
}



.gallery{
	padding-top: 50px;
}


#profile_picture{
	float: left;
	margin: 90px auto auto 8%;
	/*transition: opacity 1s ease;*/
	/*padding: 4px;*/
	/*	border: solid 4px white;*/

	-moz-box-shadow:    3px 3px 5px 6px black;
	-webkit-box-shadow: 3px 3px 5px 6px black;
	box-shadow:         10px 10px 50px 0px black;
	

	border-radius: 20px;
	height: 420px;
	width: 270px;
	background: white; 
	background: -webkit-linear-gradient(left top, rgba(255,255,255,0.85), rgba(255,255,255,1)); 
	background: -o-linear-gradient(bottom right, rgba(255,255,255,0.85), rgba(255,255,255,1)); 
	background: -moz-linear-gradient(bottom right, rgba(255,255,255,0.85), rgba(255,255,255,1));
	background: linear-gradient(to bottom right, rgba(255,255,255,0.85), rgba(255,255,255,1));
}


/*=====================Dynamic Window Resizing=================================================*/


@media screen and (max-width: 1050px) {
	#headingh2{
		display: none;
	}
	#headingh1{
		display: none;
	}

	#profile_picture{
		margin-left: 30%;
		margin-right: 30%;
	}


	.headPiece{
		float: left;
	}

	.draw{
		margin-left: 25%;
		margin-right: 25%;
	}

	.container{
		background-color: white;
		padding: 0;
		margin: 0;
		column-width: 70%;
		padding: 20px 5%;
		color: black;
		column-count: 1;
		column-gap: 50px;
	}
}


@media screen and (max-width: 980px) {
	img {
		margin: 20px;
		transition: 1s;
	}
	video {
		margin: 20px;
		transition: 1s;
	}
}


@media screen and (max-width: 768px) {
	video {
		margin: 10px;
		transition: 1s;
	}

	img {
		margin: 10px;
		transition: 1s;
		height: 
	}
	.draw{
		display: none;
	}
}

@media screen and (max-width: 640px) {
	video {
		margin: 0px;
		transition: 1s;
	}
	img {
		margin: 0px;
		transition: 1s;
	}
}